.main {}

.dashboard {
    display: flex;
    width: -webkit-fill-available;
    /* padding: 10px; */
    /* height: 79vh; */
}

.panel {
    width: 25%;
    background-color: #2be2cd;
    display: flex;
    flex-direction: column;
}

.content {width: -webkit-fill-available;display: flex;flex-direction: column;text-align: center;background: linear-gradient(236deg, #dccdeb, transparent);}

.panellink {
    padding: 23px 10px;
    font-family: -webkit-pictograph;
    font-weight: 700;
    cursor: pointer;
    color: white;
}

.panellink:hover {
    background-color: #0e6664;
}
.fieldinput.fieldinput1 {
    display: flex;
}

.fieldinput.fieldinput1 .button {width: 20%;cursor: pointer;}

.fieldinput.fieldinput1 in {}

.fieldinput.fieldinput1 input {
    /* padding: 0; */
    margin: 7px;
}
.share {
    display: flex;
    justify-content: space-around;
    width: inherit;
}

.share div {
    width: auto;
}

.cheader {
    font-size: 31px;
    padding: 5px 0;
    background: linear-gradient(236deg, #dccdeb, transparent);
    /* border-bottom: 1px solid; */
    font-family: cursive;
    color: blueviolet;
}

.csubheader {
    font-size: 14px;
    font-family: system-ui;
    text-align: end;
    padding: 8px 18px;
    font-weight: 700;
    color: brown;
    border-bottom: 1px solid blueviolet;
}
.coption {
    background-color: white;
    height: -webkit-fill-available;
}

.table {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: antiquewhite;
    padding: 25px 0;
    border-bottom: 1px solid rgb(217 162 162);
}

.th {
    font-weight: bold;
}