.header {
    display: flex;
    flex-direction: row;
    background: #ffffff52;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #ffffffd9;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 75%;
    /* background: linear-gradient(340deg, black, transparent); */
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
}

.header-logo {
    display: flex;
    justify-content: center;
    padding: 6px;
}
.panellink.active {
    border-bottom: 3px solid #576278;
    border-top: 3px solid #576278;
    background-color: #0e6664;
}
body {background: linear-gradient(67deg, #79e3f3bd, #ffffffe0);}