.headline {
    background: linear-gradient(67deg, #fafeffbd, #ffffffe0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 89px 10px;
    margin: 0px;
    border-radius: -5px;
}
.link {
    padding: 10px;
    background-color: rgb(197 238 249);
    font-weight: 800;
    font-family: fangsong;
    /* border-radius: 15px; */
    cursor: pointer;
}
.headline-right {border-radius: 17px;overflow: hidden;width: 30%;}

.h1 {
    font-size: 41px;
    font-family: sans-serif;
    font-weight: bolder;
    line-height: 1.5;
}

.headline-left {
    padding: 19px 66px;
    width: 50%;
}

.h2 {
    padding: 12px 0;
    font-size: 20px;
    font-weight: bold;
}

.h2 {}

.button {
    background: linear-gradient(67deg, #006a79bd, #91e0ec);
    width: -webkit-fill-available;
    padding: 17px;
    font-size: 20px;
    font-family: system-ui;
    font-weight: bolder;
    margin: 10px 0;
    color: white;
    text-align: center;
}
.feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 46px 10px;
}

.heading {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 50px;
    text-shadow: 5px 7px 5px white,-8px -6px 5px white;
    font-family: sans-serif;
    font-weight: 700;
}

.Description {
    padding: 10px;
    font-family: cursive;
    line-height: 35px;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    background: rgb(255 255 255 / 58%);
    min-width: 269px;
    border-radius: 15px;
    padding: 7px;
    margin: 5px;
}

.itemimg img {
    width: 100px;
    height: 100px;
}

.itemhead {
    font-weight: 900;
    padding: 10px 0px;
    font-family: -webkit-pictograph;
    font-size: 18px;
    border-bottom: 1px solid #00000026;
    padding-bottom: 8px;
    width: 100%;
    margin-bottom: 7px;
}

.itemdes {
    font-size: 12px;
    font-family: cursive;
}