.login {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    max-width: 600px;
}

.lhead {
    font-size: 39px;
    font-family: -webkit-pictograph;
    padding: 10px 0;
    font-weight: bolder;
}

.lhead1 {
    font-size: 15px;
    font-family: monospace;
    padding: 37px;
    line-height: 26px;
    color: rgb(29 16 139);
}

.lhead2 {
    font-size: 15px;
    font-family: none;
    padding: 9px;
    /* border: 1px solid rgb(155 157 173); */
    background: rgb(184 220 222);
    color: #155e69;
}

.lhead3 {
    display: flex;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    border: 1px solid #e5e1e1;
}

.head4 {
    font-size: 20px;
    font-family: -webkit-pictograph;
    padding: 20px;
    font-weight: bolder;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

.fieldhead {
    font-size: 13px;
    font-family: monospace;
    /* padding: 10px; */
}

.fieldinput {
    padding: 7px 0;
}

.fieldinput input, .fieldinput select, .fieldinput textarea {
    padding: 10px 9px;
    width: -webkit-fill-available;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
}
.forget {
    padding: 11px 3px;
}

a {
    text-decoration: none;
}